
/*最新消息*/
.news{
  background: #F6EDE7;
  position: relative;
  padding: 45px 0;
}
.news h2{
    color:#880000;
    font-size: 26px;
    text-align: center;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 30px;
    padding-top: 120px;
  }
  .news span{
    font-size: 18px;
    color:#B79C80;
    display: block;
    font-family: 'Tenor Sans', sans-serif;
    font-weight: 400;
  }
.news .news_all{
  border: 1px solid #B79C80;
  width:815px;
  margin:60px auto 0;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}
.news .news_text{
  padding-left: 40px;
  padding-right: 2%;
  padding-top: 40px;
}
.news .news_photo{
}
.news .news_text p.news-text{
  margin:0;
  font-size: 10px;
  color:#808080;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
  overflow: hidden;
  margin-bottom: 10px;
  line-height: 20px;
}
.news h3{
  color:#880000;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0;
}
.news p{
    margin-bottom: 0.5rem;
}
.news .news_text span{
  font-size: 10px;
}
.news .news_text a{
  margin-top:10px;
}
.news .pagination{
    justify-content: center;
    margin: 50px auto;
}
.news .page-link{
    background: transparent;
    border: none;
    color: #ADAEAF;
}
.news .page-link:hover{
    color:#880000 ;
}
.news .page-link:focus{
    border-bottom:1px solid #880000;
}

/*最新消息內文*/
.news .newscontent{
    border: 1px solid #B79C80;
    max-width:815px;
    margin:60px auto 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 5%;
  }
.news .newscontent .news_text{
    padding:10% 5%;
}
.news .newscontent p{
margin:0;
font-size: 10px;
color:#808080;
margin-bottom: 10px;
line-height: 20px;
}
.news .newscontent p.news_text{
    padding-bottom:10%;
}
.news .newscontent .news_photo{
    margin-top: 20px;
}
.news .newscontent .news_photo img{
    width: 100%;
}
@media (max-width:990px){
  .news .news_all{
    width:auto;
  }
}
@media (max-width:768px){
  .news .news_all{
    border: 1px solid #B79C80;
    width:auto;
    margin:60px auto 0;
  }
  .news .newscontent{
    border: 1px solid #B79C80;
    width:auto;
    margin:20px auto 0;
  }
}
@media (max-width:767px){
    .news h2{
        padding-top: 40px;
    }
  .news .news_all {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    align-content: flex-end;
    margin: 60px 10px 0;
}
.news .news_photo{
  position: relative;
  top:0;
  width: 100%;
}
.news .news_photo img{
    width: 100%;
}
.news .news_text{
    padding:20px 10px;
  }
}