.product_banner{
    background: url(../images/product_banner.jpg) no-repeat center;
    background-size: cover;
    min-height: 415px;
}
.product .desserts{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    align-content: stretch;
    width: 980px;
    margin-top: 5%;

}
.product_sell{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: stretch;
    padding-left: 80px;
}
.product_sell .prodsell{
    margin-left:20px;
    margin-bottom:20px;
    width: 200px;
}
.product_sell .prodsell h3{
    font-size: 14px;
    color: #870000;
}
.product_sell .prodsell h4{
    font-size: 10px;
    color: #ACADAE;
}
.product_sell .prodsell p{
    color: #870000;
    font-size: 14px; 
}
.product_sell .prodsell p span{
    text-decoration:line-through;
    color: #ACADAE;
}
.product .desserts .card{
    width: 120px;
    color:#B69B80;
    border: none;
}
.product .desserts .card h5 a{
    font-size: 14px;
    color:#B69B80;
}
.product .desserts .card-body{
    padding: 5px;
}
.product .desserts .card-body a{
    font-size: 10px;
    color:#B69B80;
}
.product .desserts .card-body a:hover{
    color:#870000;
}
.product .desserts .card-header{
    padding: 0;
    background-color:transparent;
    border:none;
}
@media(max-width:767px){
    .product_sell{
        padding-left: 0;
    }
    .product .desserts .card{
        display: none;
    }
    .product_sell .prodsell{
        margin-left: 0;
        width:50%;
        padding:5px;
    }
    .product_sell .prodsell img{
        width: 100%;

    }
}