/*字型Google*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200;300;400;500;600;700;900&family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Tenor+Sans&display=swap');

body{
  font-family: 'Noto Serif TC','Noto Serif SC','Tenor Sans', serif;
  font-weight: 400;

}
a:hover{
  text-decoration: none;
}
ul{
  list-style: none;
  position: relative;
}

li {
  display: inline-block;
}
@media (max-width: 768px){
.container {
    max-width: 100%;
}
}
/*共用部分*/
.home_advantage h2,.home_desserts h2,.home_news h2,.home_gift h2{
  color:#880000;
  font-size: 26px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 30px;
}
.home_advantage h2 span,.home_desserts span,.home_news span,.home_gift span{
  font-size: 18px;
  color:#B79C80;
  display: block;
  font-family: 'Tenor Sans', sans-serif;
  font-weight: 400;
}
a.our-btn{
  font-family: 'Tenor Sans', sans-serif;
  background: #880000;
  border-radius: 5px;
  color:#fff;
  padding:5px 20px;
}
a.back{
  font-size: 12px;
  letter-spacing: 6px;
  text-align: center;
  padding: 5px 0 5px 5px;
  width: 120px;
  display: inline-block;
}
/*麵包屑*/
.breadcrumb{
  background: transparent;
}

.breadcrumb-item a{
 color: #880000;
 font-size: 12px;
}
.breadcrumb-item.active{
  color: #808080;
  font-size: 12px;
 
}
/*輪播*/
.carousel-wrap {
  margin: 34px auto;
  padding: 0 5%;
  width: 100%;
  position: relative;
}
/* fix blank or flashing items on carousel */
.owl-carousel .item {
  position: relative;
  z-index: 100;
  margin-bottom: 10px;
}
.owl-carousel .owl-item img{
  width:auto;
}

/* end fix */
.owl-nav > div {
  margin-top: -26px;
  position: absolute;
  top: 50%;
  color: #cdcbcd;
}

.owl-nav i {
  font-size: 15px;
  color:#B79C80;
}

.owl-nav .owl-prev {
  left: 0;
}

.owl-nav .owl-next {
  right: 0;

}
.owl-nav .owl-prev span,.owl-nav .owl-next span{
  font-size: 56px;
}
/*表頭*/
.sticky {
  background: #B79C80;
  transition: 2s;
}

.sticky h1   {
  color: #5c4e82;
  
}

.sticky a {
  color:#5c4e82
}

.carousel{
position: relative;
top:0;
left:0;
}

.logo_top{
  min-width: 110px;
  min-height: 50px;
}

nav .navbar-toggle {
  margin: 13px 15px 13px 0;
}
nav a {
  font-size: 18px;
  transition: all 0.3s ease;
}
nav.navbar.shrink {
  max-height: 40px;
  background: #B79C80;
}
nav.navbar.shrink .navbar-brand {
  font-size: 25px;
}
nav.navbar.shrink a {
  font-size: 12px;
}
nav.navbar.shrink .navbar-toggle {
  margin: 8px 15px 8px 0;
  padding: 4px 5px;
}
.shrink .logo_top{
  min-width: 70px;
  min-height: 40px;
}
.navbar-collapse{
  position: relative;
}
.navbar-collapse.show{
  background: #B79C80;
  padding: 10px;
}
.dropdown-menu{
  top:30px;
  background: rgba(35,24,21,0.3);
  border-radius: 0;
  box-shadow: none;
  border:none;
  min-width: auto;
}
.dropdown-item:active,.dropdown-item:focus, .dropdown-item:hover{
  background: none;
  color:#fff;
}
.navbar{
  height: 80px;
  background-image: linear-gradient(rgba(35,24,21,0.9), rgba(255,255,255,0));
  padding:0;

}
.navbar-toggler i{
  color:#fff;
}
.navbar-nav a{
  color: #fff;
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 20px;
}
#icon{
  position: absolute;
  top:100px;
  right:0;
  color:#fff;
  display: flex;
  flex-direction: column;
  padding:10px 0;
}
#icon .nav-item{
  padding:10px; 
}
#icon a{
  font-size: 15px;
}
#icon.shopping a{
 color:#d3b798;
}
.hvr-underline-from-left:before{
  height: 2px;
  background:#fff;
}

@media (max-width:768px){
  .navbar{
    background-color: #B79C80;
    background-image: none;
    height: auto;
    padding:0;
  }
  #icon{
    position: relative;
    top:0;
    flex-direction: initial;
    padding-top:0;
  }
  .dropdown-menu{
    background:transparent;
  }
}
/*輪播圖*/
.banner_pc{
 display: block;
}
.banner_pad,.banner_mobile{
  display: none;
}
@media(max-width:768px){
  .banner_pad{
    display: block;
   }
   .banner_pc,.banner_mobile{
     display: none;
   }
}
@media (max-width:480px){
  .banner_mobile{
    display: block;
   }
   .banner_pc,.banner_pad{
     display: none;
   }
}
/*owl輪播*/
.owl-nav button {
  position: absolute;
  top: 50%;
  background-color: #B79C80;
  color: #fff;
  margin: 0;
  transition: all 0.3s ease-in-out;
}
.owl-nav button.owl-prev {
  left: 0;
}
.owl-nav button.owl-next {
  right: 0;
}

.owl-dots {
  text-align: center;
  padding-top: 15px;
}
.owl-dots button.owl-dot {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  display: inline-block;
  background: #fff;
  border:1px #B79C80 solid;
  margin: 0 3px;
}
.owl-dots button.owl-dot.active {
  background-color: #B79C80;
  border:1px #B79C80 solid;

}
.owl-dots button.owl-dot:focus {
  outline: none;
}
.owl-nav button {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
}

.owl-nav button:focus {
    outline: none;
}
.home_desserts .owl-drag{
  padding:0 25px;
}
/*關於菓倆*/
.home_about{
  text-align: center;
  letter-spacing: 1px;
  position: relative;
  background: #ffffff;
  background: -moz-radial-gradient(center, ellipse cover,  #ffffff 33%, #d3d3d4 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 33%,#d3d3d4 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center,  #ffffff 33%,#d3d3d4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d3d3d4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.about_logo{
  width:60px;
  height:100px;
  display: block;
  margin: auto;
  margin-bottom: 70px;
}
.home_about h2{
  font-size: 20px;
  color:#880000;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 100px;
}
.home_about p{
  width:490px;
  margin:auto;
  color:#808080;
  font-size: 10px;
  text-align: justify;
  line-height: 20px;
  padding-top:70px;
  padding-bottom: 100px;
}
.home_about .about_text{
  position: relative;
  z-index: 10;

}
.home_about_left{
  position: absolute;
  bottom:5%;
  left:1%;
  z-index: 8;
}
.home_about_right{
  position: absolute;
  top:5%;
  right:1%;
  z-index: 8;
}
@media (max-width:768px){
  .home_about_left{
    left:-40%;
  }
  .home_about_right{
    display: none;
  }
}
@media (max-width:767px){
  .home_about p{
    width:100%;
  }
}
/*菓倆的堅持*/
.home_advantage{
  background: #f0ebe5;
  padding-bottom: 20px;
}
.home_advantage h2{
  padding: 45px 0 10px 0;
}
.home_advantage h2 span{
  font-size: 18px;
  color:#B79C80;
  display: block;
  font-family:'Tenor Sans', sans-serif;
  font-weight: 400;
}
.home_advantage h3{
  color: #880000;
  font-size: 16px;
  padding-top: 30px;
  padding-bottom: 10px;
}
.home_advantage p{
  color:#808080;
  font-size: 10px;
}
.home_advantage .avtbox_1,.home_advantage .avtbox_2,.home_advantage .avtbox_3,.home_advantage .avtbox_4{
  max-width: 340px;
  margin:0 auto;
  text-align: justify;
}
.home_advantage .avtbox_2,.home_advantage .avtbox_4{
  margin-top:150px;
}
.home_advantage .avtbox_photo{
  display: block;
}
.home_advantage .avtbox_photo_m{
  display: none;
}
@media (max-width:767px){
  .home_advantage .avtbox_1,.home_advantage .avtbox_2,.home_advantage .avtbox_3,.home_advantage .avtbox_4{
    max-width: 100%;
    padding: 0;
  }
  .home_advantage .avtbox_photo{
    display: none;
  }
  .home_advantage .avtbox_photo_m{
    display: block;
  }
  .home_advantage .avt_box{
    padding: 0;
  }
  .home_advantage .col-12{
    padding: 0;
  }
  .home_advantage .row{
    margin: 0;
  }
  .home_advantage .avtbox_1,.home_advantage .avtbox_3{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    align-content: flex-start;
  }
  .home_advantage .avtbox_2,.home_advantage .avtbox_4{
    display: flex;
    flex-direction: row-reverse;
    justify-content:flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    align-content: flex-end;
    margin-top: 0;
  }
  .home_advantage .avtbox_text{
    padding: 5%;
  }
}
/*療癒甜點*/
.home_desserts{
  margin: 75px auto;
}
/*療癒甜點-HOVER*/
.home_desserts .meal-showcase {
  list-style: none;
  overflow: hidden;
  }
  @media (max-width: 900px) {
.home_desserts .meal-showcase {
    grid-template-columns: 1fr;
    margin-bottom: 20px;
  }
  }

.home_desserts .meal-showcase > * {
  display: block;
  }
  @media (max-width: 900px) {
.home_desserts .meal-showcase > * {
    margin: 10px;
  }
  }

.home_desserts .text {
  width: 100%;
  text-align: center;
  position: absolute;
  right: 0;
  left:0;
  margin:auto;
  display: block;
  bottom: 5%;
  z-index: 99;
  color: white;
  }

.home_desserts .meal-photo {
  width: 100%;
  margin: 0;
  background-color: #000;
  }

.home_desserts .meal-photo img {
  width: 100%;
  height: auto;
  }

.home_desserts .meal-list:hover .meal-photo img {
  transform: scale(1.08);
  transition: transform 0.5s, opacity 0.5s;
  opacity: 0.7;
  overflow: hidden;
  }

.home_desserts .meal-list {
  overflow: hidden;
  }

.home_desserts .section-meal {
  padding: 0;
  }
.home_desserts h3{
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 2px;
}
.home_desserts h3 span{
  font-size: 12px;
  letter-spacing: 1px;
}
.home_desserts h3:after {
  width: 0;
  height: 1px;
  content: '';
  background-color: #B79C80;
  display: block;
  position: relative;
  margin: auto;
  margin-top: 5px;
  transition: all .25s;
  }

.home_desserts .meal-list:hover .text h3:after {
  width: 80%;
  }
@media (max-width:768px){
  .home_desserts{
    padding:0 5%;
  }
}
@media (max-width:768px){
  .home_desserts{
    padding:0;
  }
}
/*最新消息*/
.home_news{
  background: #f0ebe5;
  position: relative;
  padding: 45px 0;
}
.home_news .clip-svg {
  clip-path: url(#myClip);
}
.home_news .news_all{
  border: 1px solid #B79C80;
  width:650px;
  margin:60px auto 0;
}
.home_news .news_text{
  padding-left:380px;
  padding-right: 2%;
  padding-top: 35px;
}
.home_news .news_photo{
  background: #fff no-repeat top center;
  background-size: cover;
  -webkit-mask: url("../images/news_bg.png") no-repeat center center;
  mask: url("../images/news_bg.png") no-repeat center center;
  position: absolute;
  top: -60px;
  right: 50%;
  width: 370px;
  height: 300px;
}
.home_news svg{
  position: absolute;
  top: 0;
  left: 0;
}
.home_news .news_text p.news-text{
  margin:0;
  font-size: 10px;
  color:#808080;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  white-space: normal;
  overflow: hidden;
  margin-bottom: 20px;
  line-height: 20px;
}
.home_news h3{
  color:#880000;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0;
}
.home_news .news_text span{
  font-size: 10px;
}
.home_news .news_text a{
  margin-top:10px;
}
.home_news .owl-dots {
  display: none;
}
.home_news svg{
  width:340px;
  height:300px;
}
@media (max-width:768px){
  .home_news .news_all{
    border: 1px solid #B79C80;
    width:auto;
    margin:60px auto 0;
  }
  .home_news .news_text{
    padding-left:400px;
  }
  .home_news .news_photo{
    position: absolute;
    top: -60px;
    right: 0;
    left:0;
  }
}
@media (max-width:767px){
  .home_news .news_all {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    align-content: flex-end;
    margin: 60px 10px 0;
}
.home_news .news_photo{
  position: relative;
  top:0;
  margin-top: -60px;
}
  .home_news .news_text{
    padding:0 10px;
  }
}
/*企業送禮&新人企劃*/
.home_gift{
  margin:30px auto 60px;
}
.home_gift .company,.home_gift .wedding{
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items: center;
  flex-wrap: nowrap;
  align-content: flex-end;
}
.home_gift .wedding{
  flex-direction: row-reverse;
  padding-top: 30px;
}
.home_gift h2{
  font-size: 20px;
  text-align: left;
}
.home_gift span{
  font-size: 16px;
  letter-spacing: normal;
}
.home_gift p{
  font-size: 10px;
  color:#808080;
  text-align: left;
  line-height: 20px;
}
.wedding_text{
  padding-left: 20px;
}
.company_text{
  padding-right: 20px;
}
.gift_photo_m{
  display: none;
}
.gift_text{
  max-width: 670px;
}
@media (max-width:767px){
  .gift_text{
    padding:0;
  }
  .gift_photo{
    display: none;
  } 
  .gift_photo_m{
    display: block;
  }
  .wedding_text,.company_text{
    padding: 10px;
  }

  
}
/*表尾*/
footer{
  background: #880000;
  color:#B79C80;
  font-family:'Tenor Sans','Noto Sans TC','Noto Serif TC', sans-serif;
}
.footer{
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  flex-wrap: nowrap;
  align-content: flex-start;
  padding: 35px 10px 25px;

}
.footer_logo{
  padding-bottom:20px;
  padding-right:35px;
  border-right:1px solid #B79C80;
}
.footer p{
  padding-left: 80px;
  padding-right: 50px;
}
.footer li{
  margin:0 5px
}
.copyright{
  background: #B79C80;
  color:#fff;
  text-align: center;
  font-size: 10px;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 1px;
  padding:10px;
}
@media (max-width:768px){
  .footer_logo{
    padding-right: 25px;
    padding-left: 15px;
  }
  .footer p {
    padding-left: 30px;
}
}
@media (max-width:767px){
  .footer{
    flex-direction: column;
    padding: 35px 8% 25px;
  }
  .footer_logo{
    border:none;
  }
  .footer p{
    border-top:1px solid #B79C80;
    padding-top:10px;
    padding-left: 0;
    width: 100%;
  }
  .footer .icon{
    width: 100%;
    margin-left: 0;
    padding: 0;
  }
}